
/*	greenblue: #205F65
    lighterGrennBlue: #4FA7BD;
	lightgrey: #F3F7F7
	grey: #D3D3D3;
	yellow: #F9DE5F
	teal: #008080;
	light-bluegeen:hsla(178, 20%, 55%, 1)
	light-red:hsla(0, 40%, 65%, 1)

*/

* {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: 'Lato','Helvetica','san-serif';
    font-weight: 300;
}

body {
    background: linear-gradient(80deg, #cbf4fc, #fcf4cb);
/*    background: linear-gradient(80deg, #d9f9ff, #fcf9d7);*/
	color: #4D4D4D;
}

p {
	font-size: 21px;
}

/*#logo{
	width: 180px;
}

#logo img{
	width: 60px;
	height: 60px;
    padding: 20px 0px;
    padding-left: 80px;
    padding-right: 40px; 
}*/

#app {
	width: 100%;
}


/* Info section */


#section-info {
	height: initial;
    width: 100%;
    padding: 50px 0px; 
}


#notice{
	width: 55%;
	margin: auto;
	padding: 20px;	
}

#name-bar, #intro, #socials {
	width: 55%;
	margin: auto;
/*	min-width: 300px;*/
}

#name {
    font-family: 'Kirang Haerang', cursive;
/*    font-size: 700;*/
    color: #333333;
	font-size: 36px;
	letter-spacing: 3px;
}

#img-logo {
    width: 50px;
    margin: 0px 5px;
    padding-right: 5px;
}

.name-el {
	display: inline-block;
	vertical-align: middle;	
}

#intro {
	font-size: 21px;
	line-height: 1.7;
	letter-spacing: 0px;
	padding-top: 20px; 
}

.info-span {
	font-weight: 400;
    color: #008080;
}

#socials {
	padding-top: 30px;
}

/* Social media icons */
.social {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0px 1.5px;
}

.social:hover {
	cursor: pointer;
	opacity: 0.8;
}

.img-social {
	width: 100%;
}

/*.info-span {
	border-bottom: 1.5px solid #F9DE5F;
}*/


/* Filters section */

#section-filter {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.filter-sticky {
	position: fixed;
	top: 0;
	z-index: 9999;
}

.filter-sticky + #section-work {
	padding-top: 55px;
}

#filters {
	width: 100%;
	margin: auto;
	text-align: center;
}

.filter {
	display: inline-block;
    padding: 15px 20px;
    height: 100%;
	margin: 0px;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 2px;
	color: #666666;
}

.filter:hover {
	cursor: pointer;
	color: #008080;
}

.filter-selected {
    color: #008080;
    border-bottom: 3px solid #008080;
}


/* Work section */

#section-work{
	padding-top: 50px;
	padding-bottom: 30px;
	min-height: 600px;
}

#projects  {
    width: 80%;
    height: initial;
    margin: auto;
}

.project {
	min-width: 210px;
	width: 380px;
	height: 380px;
	transition: 3s;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 90px;
	border: 1px solid #D0D0D0;
}

.img-project-box {
	overflow: hidden;
}

.img-project {
    width: 100%;
}

.projectTitle {
	font-size: 21px;
	color: #333333;
	width: 380px;
	padding: 10px 0px;
	font-weight: 400;
	text-align: left;
/*    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;*/
}

.img-project:hover {
	transition: 1s;
	transform: scale(1.1);
}



/*.projectTitle:hover {
	cursor: default;
}*/

/*.mobile-projectTitle {
	color: #333333;
	height: 0;
	font-size: 0px;
	visibility: hidden;
}*/

/*.project:hover .projectTitle{
	transition: 1s;
	visibility: visible;
    opacity: 0.8;
}*/

/*
#tags, #tools {
	width: 100%;
	margin: 2.5px 0px;
	text-align: left;
}

.tag, .tool {
	display: inline-block;
    margin: 0px 1px;
	padding: 3px 6px;
	font-size: 17px;
	font-weight: 300;
	color: #FFFFFF;
}

.tag {
	background-color: hsla(178, 20%, 55%, 1);
}

.tool {
	background-color: hsla(0, 40%, 65%, 1);
}
*/


/*  single project */
/*#project-focus-box {
	font-size: 0px;
    white-space: nowrap;
    width: 80%;
    min-height: 500px;
    max-height: 80%;
    visibility: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border: 2px solid #F1F1F1;
    overflow: hidden;
    overflow-y: scroll;
    padding: 15px;
}*/

/*#project-focus {
	overflow: hidden;
    overflow-y: scroll;
}*/

/*#btn-close {
	color: #666666;
	float: right;
	font-size: 30px;
	font-weight: bold;
	position: fixed;
	top: 3%;
	right: 3%;
}

#btn-close:hover,
#btn-close:focus {
	text-decoration: none;
	cursor: pointer;
}


#btn-next {
	position: absolute;
	top: 3%;
	right: 6%;
	width: 30px;
	height: 30px;	
	background-color: #000000;	
}*/

#project-box {
    height: 100%;
/*    transition: 0.35s;*/
}

.project-page {
/*	border: 1px solid #777777;*/
	font-size: initial;
	display: inline-block;
	white-space: normal;
	width: 100%;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
/*	overflow-y: scroll;*/
}

.project-page h3 {
    width: 100%;
    margin: 10px 0px;
}

.project-content {
	width: 90%;
	margin: auto;
	overflow-x: hidden;
	text-align: center;
}




/*  footer */
#section-footer {
	text-align: center;
	padding: 25px 0px;
}

/*	Small screen setting */
@media only screen and (max-width: 800px) {

    #name-bar, #intro, #socials {
        width: 65%;
    }

    #filters {
    	width: 100%;
    } 

	#projects {
        width: 90%;
        margin: auto;
	}

	.project {
		width: 300px;
		height: 300px;
	}

    #project-focus-box {
    	width: 90%;
    	margin: auto;
    }

/*	.project:hover .img-project{
	    opacity: 1;
	}

	.project:hover .projectTitle{
		visibility: hidden;
	}*/

/*	.mobile-projectTitle {
	    height: initial;
		font-weight: 400;	
		color: #4D4D4D;
		font-size: 16px;
		visibility: visible;
		text-align: left;
	}*/


} 

@media only screen and (max-width: 600px) {
    
    #name-bar, #intro, #socials {
        width: 90%;
    }

	#img-logo {
		width: 30px;
		margin: 0px;
	}

    #name {
    	font-size: 26px;
    }

    #intro {
    	width: 90%;
    	margin: auto;
    }

    #section-filter {
    	padding: 0px 0px;
    }

    #filters {
    	width: 100%;
    	padding: 0px 0px;
    	overflow-x: auto;
    	overflow-y: hidden;
    	-webkit-overflow-scrolling: touch;
    	white-space: nowrap;
    	-ms-overflow-style: -ms-autohiding-scrollbar;
    }

    #filters::-webkit-scrollbar {
        display: none; 
    }


	.filter-sticky + #section-work {
		padding-top: 30px;
	}

/*	.project:hover .img-project{
	    opacity: 1;
	}

	.project:hover .projectTitle{
		visibility: hidden;
	}*/

/*	.mobile-projectTitle {
	    height: initial;
		font-weight: 400;	
		color: #4D4D4D;
		font-size: 16px;
		visibility: visible;
		text-align: left;
	}*/

    #project-focus-box {
    	width: 90%;
    	margin: auto;
    }

	.project {
		width: 280px;
		height: 280px;
		margin-left: 5px;
        margin-right: 5px;
	}

	#projects {
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 20px;
	}

    .project-page {
    	width: 100%;
    }

    .quick-infos, .page-intro, .page-title, .page-para-text, .caption-box {
    	width: 100%;
    }

    .page-caption {
    	width: 100%;
    }

} 
